.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 70px 10%;
}

.about-sections {
    display: flex;
    gap: 60px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    overflow: hidden; /* Add overflow hidden */
}

.about-skill {
    width: 100px;
    height: 100px;
    background: linear-gradient(267deg, #d720ce 0.36%, #5576bd 102.06%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    margin: 0 10px;
    animation: scroll 10s linear infinite; /* Adjust the animation speed here */
    position: relative; /* Add position relative */
    overflow: hidden; /* Add overflow hidden to hide the part of the skill that goes outside */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition */
}
.about-skill:hover{
    transform: scale(1.1);
    transition: 1s ease;
}
@keyframes scroll {
    10% {
        transform: translateX(100%);
    }
    70%{
        transform: translateZ(-10%);
    }
    100% {
        transform: translateX(-200%); /* Adjust the distance to cover twice the width of the container */
    }
}



@media (max-width: 768px) {
    .about {
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    
    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-skills {
        gap: 10px;
    }

    .about-skill {
        width: 80px;
        height: 80px;
        font-size: 14px;
    }
}
