.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1F0016; /* Adjust this to match your design */
    border-bottom: 2px solid #fff;
    padding: 10px 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
}

.nav-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #cddcd4 0.36%, #dc08d9 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.logo {
    font-size: 44px;
    font-weight: bold;
    animation: slideIn 1s ease-out, colorChange 3s infinite;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
    cursor: pointer;
}

.nav-mob-open {
    display: none;
    cursor: pointer;
    width: 30px;
}

@media(max-width: 768px) {
    .navbar {
        padding: 10px 6%;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: absolute;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        width: 30px;
    }
    .navbar ul {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
        padding-top: 100px;
    }
    .nav-menu li {
        font-size: 22px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes colorChange {
    0% {
        color: #fff;
    }
    50% {
        color: #dc08d9;
    }
    100% {
        color: #fff;
    }
}
